.App {
  font-family: Times New Roman !important;
}

html,
body {
  margin: 0;
  padding: 0;
}
ul {
  font-size: 16px;
}
h2 {
  display: block;
  color: #012a4a;
  font-size: 13px;
  font-weight: 600;
  padding-top: 5px;
}
h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}
img {
  width: 50%;
  height: 50%;
   
}
p {
   font-size: 20px;
}
footer {
  background-color: black !important;
}
.Container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 400px;
  margin: 20px;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  max-width: 550px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}


